@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: "Darker Grotesque";
    font-size: 22px;
    background: #f1f1f1f1;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

* {
    font-family: Darker Grotesque, sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}


a {
    color: black;
    text-decoration: none;
}

header {
    margin-top: 40px;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

button:hover {
    cursor: pointer;
}

header .logo {
    font-size: 24px;
    font-weight: 600;
}

.options {
    display: flex;
    font-size: 24px;
    font-weight: 600;
}

.options_tag {
    margin-left: 40px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 77px;
}

.hero_text {
    font-size: 70px;
    line-height: 108.1%;
    font-weight: 700;
}

.hero_btn {
    margin-top: 40px;
    display: flex;
    align-items: center;
   
}

button{
    font-size: 24px;
    font-weight: 600;
}

.bg_btn {
    padding: 15px 50px;
    border-radius: 5px;
    background-color: #2F80ED;
    color: white;
    margin-right: 20px;

}

.hero_btn .no_bg {
    background-color: transparent;
    color: black;
    display: flex;
}

.no_bg img {
    margin-right: 10px;
}

.hero_img {
    margin-left: 20px;
    position: relative;
}

.img_one img {
    position: relative;
    right: 40%;
}

.img_two img {
    position: absolute;
    top: 40%;
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
    .hero_text {
        font-size: 8vh;
    }
    .hero_img img {
        width: 300px;
    }
}

.user_guide {
    margin-top: 234px;
    margin-bottom: 25px;
}

.user_guide #guide {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #121212;
    text-align: center;
}

.descript {
    margin-top: 25px;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.description {
    padding: 30px;
    position: relative;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    width: 392px;
    height: 364px;
}

 .des_blue{
    background: rgba(14, 103, 193, 0.2);
}

.des_yellow{
    background: rgba(248, 204, 0, 0.2);
}

.des_purple{
    background: rgba(151, 71, 255, 0.2);
}

.des_one {
    font-size: 300px;
    position: absolute;
    right: 0;
    top: 8%;
    z-index: -1;
}


@media screen and (max-width: 920px) {
    .hero_img {
        display: none;
    }
}

@media screen and (max-width: 1158px) {

    .hero_img img {
        width: 300px;
    }
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    margin: 188px 84px;
}

#team_h1 {
    font-weight: 700;
    font-size: 35px;
    padding: 64px 20px 200px 35px;
    background: rgba(47, 128, 237, 0.1);
    margin-right: 20px;
}

.team_text {
    font-weight: 500;
    font-size: 24px;
}

.team_main span {
    font-weight: 700;
    font-size: 36px;
    margin: 20px 0;
}

.team_area{
    display: flex;
    flex-wrap: wrap;
}

.team_img img{
    width: 73px;
    height: 76px;
    border-radius: 138.5px;
}

.team_type{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.team_icons button{
    font-size: 18px;
    background-color: #EAF2FD;
    font-style: normal;
    font-weight: 500;
}

.team_type p{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 109.1%;
    margin-bottom: 10px;
}


.team_text{
    font-weight: 500;
    font-size: 24px;
    margin-top:10px;
}

.hide{
    display:none;
}

.team_pic{
    display: flex;
}

.team_pic img{
    border-radius: 138.5px;
    width: 50px;
    height: 52.78px;
    margin: 20px 20px 0 0;
}

.team_pic img:hover{
    border: 2px solid #2F80ED;
}

.footer {
    display: flex;
    justify-content:space-between;
 
    height: 70px;
    background-color: #2F80ED;
    display: flex;
    align-items: center;
    max-width: none;
    padding: 20px;
  }

  .footer #foot1    {
  font-weight: 600;
  font-size: 24px;
  line-height: 108.1%;
  color: white;

  }

  #foot2{
    font-weight: 600;
    font-size: 20px;
    color: white;

  }

  #foot2 a{
    font-weight: 800;
    font-size: 20px;
    color: white;
  }

  @media screen and (min-width: 501px) {

  .options img{
    display:none;
  }
}

  @media screen and (max-width: 500px) {
    header .logo{
        font-weight: 600;
        font-size: 16px;
    }

    header .options a{
        display: none;
    }

    .options img{
        /* visibility: visible; */
        width: 20px;
    }

    .hero{
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin:0;
        padding: 10px;
    }

    .hero_text{
        font-weight: 700;
        font-size: 36px
    }

    .hero_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 25px;
        flex-direction: row;
    }

    .hero_btn .no_bg{
        font-weight: 600;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    }
    
    .user_guide{
        display:block;
        margin-top:90px;
    }

    .user_guide #guide{
        font-weight: 600;
        font-size: 32px;
        margin-bottom :30px;
    }

    .description #p1, #p2, #p3 {
        font-weight: 700;
        font-size: 24px;
        padding: 30px 30px 96px 30px;
    }

    .description{
        position: relative;
        padding:20px;
    }
    
    .description .des_one{
        font-weight: 700;
        font-size: 220px;
        position: absolute;
        right: 1%;
        top: 66%;
        z-index: -1;
    }

    .descript{
        display:block;
    }

    .team{
        display:block;
        padding: 0;
        margin: 92px 10px 71px 10px;
    }

    #team_h1{
        padding: 10px;
        background-color:transparent;
        margin-bottom:38px;
    }

    #team_h1 p{
        font-weight: 500;
        font-size: 24px;
    }

    #team_h1 h1{
        font-weight: 700;
        font-size: 34px;
    }

    .team_main{
        background-color:rgba(47, 128, 237, 0.1);
        padding: 30px 20px 11px;
    }

    .team_img img{
        width: 63px;
        height: 66px;
        border-radius: 138.5px;
        margin-top: 30px;
    }

    .team_main span{
        font-weight: 700;
        font-size: 24px;
        padding:20px;  
    }
    .team_type{
        margin-top:35px;
    }

    .team_type p{
        font-weight: 600;
        font-size: 20px;
    }

    .team_icons{
        font-weight: 500;
        font-size: 20px;
    }

    .team_text{
        font-weight: 500;
        font-size: 16px;
    }

    .team_pic img{
        width: 50px;
        height: 52.78px;
        border-radius: 138.5px;
    }

    .footer{
        display: block;
        padding: 22px;
    }


    #foot1{
        font-weight: 600;
        font-size: 16px;
    }

    #foot2{
        font-weight: 600;
        font-size: 16px;
        margin-top: 20px;
    }

    #foot2 a{
        font-weight: 800;
        font-size: 16px;
    }


  }