@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
  font-family: "Darker Grotesque";
}

a{
  text-decoration: none;
  color: black;
}

.overall-container{
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-container {
  margin: 0 auto;
}


.backdrop {
  position: fixed;
  /* display: none; */
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s linear;
}

.logo-button-container h2 {
  font-size: 40px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}
.back-btn {
  margin-top: 2rem;
  margin-bottom: -2rem;
  font-weight: 600;
}
.back-btn a {
  text-decoration: none;
  color: #000000;
  font-size: 22px;
}
.back-btn a:hover {
  text-decoration: underline;
  color: #2f80ed;
}
.text-center {
  text-align: center;
  margin-top: 3.5rem;
}
.main-container h2 {
  font-size: 32px;
  margin-top: 0;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  background-color: rgba(47, 128, 237, 0.1);
  border-radius: 5px;
}
.main-container form input {
  width: 95%;
  padding: 0.8rem;
  border: 1px solid #AEAEAE;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
}

.user_number input{
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  border: none!important;
  padding: 0.8rem;
}

.user_number{
  display: flex;
  align-items: center;
  border: 1px solid #AEAEAE;
  border-radius: 5px;
}

.phone_num{
  margin-top: 30px;
}

.input_label{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.check_btn{
  width: 100%!important;
  background-color: #2f80ed!important;
  color: white;
  border: none!important;
  margin-top: 90px;
}

.input_label label{
  font-size: 18px;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.modal-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  width: 300px;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 38%;
  z-index: 20;
  transition: transform 1s;
}
.modal-container p {
  font-size: 22px;
  font-weight: bold;
}
.network-logo {
  width: 70px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
}
.network-logo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.hidden {
  display: none;
}


@media screen and (max-width:768px) {
  .main-container{
    padding: 70px;
  }
}

@media screen and (max-width:425px) {
  .main-container{
    padding: 20px;
  }
  .logo{
    font-size: 18px;
  }
  .back-btn a{
    font-size: 18px;
  }
  .logo-button-container h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  
}
